.category-list-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
}
.categories-list-item {
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 10px;
}
.category-button {
  background-color: white;
  border-radius: 5px;
  border-style: none;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  border: 2px solid #f2f2f2;
}

.active-category-button {
  border: 2px solid #1778f2;
  color: #1778f2;
}
